<%= form_for(@post =Post.new) do |f|%>
<label> New Comment </label>
<%= f.text_field :content %>
<%= f.text_field :title %>
<%= f.collection_check_boxes(:category_ids, Category.all, :id, :name)%>
 <%= f.fields_for :categories, @post.categories.build do |categories| %>
        <%= categories.text_field :name %>
        <%end%>
 <%=f.submit%>
<%end%> 
  
   