<h1> <%= @post.title %> </h1>
Categories: <%= @post.categories.map(&:name).join(', ') %>

<p> <%= @post.content %> </p>

<p>Interested Users: </p>
<% @post.users.each do |user| %>
<%= link_to user.username, user %>
<% end %>

<h3> Add a Comment </h3>
<%= form_for Comment.new do |f| %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <p>
    <%= f.label :content, "Content" %><br>
    <%= f.text_area :content %> 
  </p>
  <p>
    <%= f.label :user_id, "User" %>
    <%= f.collection_select :user_id, User.all, :id, :username %>
    </p>
    <p>
      <%= f.fields_for :user, User.new do |user_fields| %>
      <%= user_fields.label :username %>
      <%= user_fields.text_field :username %><br/>
      <%= user_fields.label :email %>
      <%= user_fields.text_field :email %>
    <% end %>
    </p>
    <p><%= f.submit %></p>
  <% end %>

<ul>
  <p> <% @post.comments.each do |comment| %> </p>
    <li> <%= comment.user.try(:username) %> says: <%= comment.content %> </li>
  <% end%>
</ul>

